<header class="c-page__header">
    <h1><code>{{ site.title}}</code></h1>

    {% if page.title == '⚡️Output' %}
        <h1>{{ site.description }}</h1>
    {% endif %}
    <p>
        <a href="{{ "/" | prepend: site.baseurl }}">⚡️Flow</a> <a href="{{ "/wiredin/" | prepend:
          site.baseurl }}">/ 📚Wiredin</a><a href="{{ "/ghosts/" | prepend:
          site.baseurl }}">/ 📚Ghosts</a><span
          class="u-separate"></span><a href="{{ "/about/" | prepend: site.baseurl }}">About</a>
    </p>
</header>
